on boot
    insmod /system/lib/modules/btif_drv.ko

on post-fs-data
    chown bluetooth net_bt_stack /dev/ttyBT0
    chmod 660 /dev/ttyBT0

on property:sys.boot_completed=1
    restorecon_recursive /nvm_fs_partition/bluetooth/

service init_bt_nvm /system/bin/sh /system/vendor/bin/bt_nvm_init.sh
    class core
    disabled
    seclabel u:r:init_bt_nvm:s0
    oneshot
