/dev/dcc	0660	system	system
/dev/ion	0666	system	system
/dev/pmem_gfx	0666	system	system
/dev/mvpipe-rga 0666	system	system
/dev/mvpipe-vpu 0660	media	graphics
/dev/mvpipe-vpu_pp 0660    media   graphics
/dev/mvpipe-oec_dat 0660	media	media
/dev/block/mmcblk0p1	0660	radio	radio
/dev/block/mmcblk0p2	0660	radio	radio
/dev/block/mmcblk0p3	0660	radio	radio
/dev/mali	0666	system	graphics
/dev/rga	0660	system	camera
/dev/video0	0600	media	media
/dev/video1	0600	media	media
/dev/video2	0600	media	media
/dev/video3	0600	media	media
/dev/vpu_service	0660	media	graphics
/dev/hevc_service	0600	media	media
/dev/mem	0600	media	media
/dev/ttyBT0 0660    bluetooth       net_bt_stack
/dev/ttyGNSS0	0600	gps	gps
/dev/radio0     0660    audio   audio
/dev/tadi       0660    system  trace
/dev/voemcrypto	0660	media	drm
/dev/tee_rpc	0660	system	drmrpc
/dev/fmdev_device	0660	radio	radio
/dev/nvmdev	0660	radio	radio
/dev/mvpipe-at	0660	radio	radio
/dev/mvpipe-at2	0660	radio	radio
/dev/mvpipe-atc	0660	radio	radio
/dev/vmodem	0660	radio	radio
/etc/msm/	0660	radio	radio
/dev/splendid	0600    system  system

#sysFs properties for BST gsensor and compass
/sys/devices/virtual/input/input* range                   0664 system input
/sys/devices/virtual/input/input* bandwidth               0664 system input
/sys/devices/virtual/input/input* capabilities            0664 system input
/sys/devices/virtual/input/input* op_mode                 0664 system input
/sys/devices/virtual/input/input* chip_id                 0664 system input
/sys/devices/virtual/input/input* delay                   0664 system input
/sys/devices/virtual/input/input* fast_calibration_x      0664 system input
/sys/devices/virtual/input/input* fast_calibration_y      0664 system input
/sys/devices/virtual/input/input* fast_calibration_z      0664 system input
/sys/devices/virtual/input/input* fifo_data_frame         0664 system input
/sys/devices/virtual/input/input* fifo_mode               0664 system input
/sys/devices/virtual/input/input* fifo_trig               0664 system input
/sys/devices/virtual/input/input* fifo_framecount         0664 system input
/sys/devices/virtual/input/input* fifo_data_sel           0664 system input
/sys/devices/virtual/input/input* fifo_trig_src           0664 system input
/sys/devices/virtual/input/input* gsensor_state           0664 system input
/sys/devices/virtual/input/input* reg                     0664 system input
/sys/devices/virtual/input/input* offset_x                0664 system input
/sys/devices/virtual/input/input* offset_y                0664 system input
/sys/devices/virtual/input/input* offset_z                0664 system input
/sys/devices/virtual/input/input* enable_int              0664 system input
/sys/devices/virtual/input/input* name                    0664 system input
/sys/devices/virtual/input/input* int_mode                0664 system input
/sys/devices/virtual/input/input* slope_duration          0664 system input
/sys/devices/virtual/input/input* slope_threshold         0664 system input
/sys/devices/virtual/input/input* slope_no_mot_duration   0664 system input
/sys/devices/virtual/input/input* slope_no_mot_threshold  0664 system input
/sys/devices/virtual/input/input* high_g_duration         0664 system input
/sys/devices/virtual/input/input* high_g_threshold        0664 system input
/sys/devices/virtual/input/input* low_g_duration          0664 system input
/sys/devices/virtual/input/input* low_g_threshold         0664 system input
/sys/devices/virtual/input/input* tap_duration            0664 system input
/sys/devices/virtual/input/input* tap_threshold           0664 system input
/sys/devices/virtual/input/input* tap_quiet               0664 system input
/sys/devices/virtual/input/input* tap_shock               0664 system input
/sys/devices/virtual/input/input* tap_samp                0664 system input
/sys/devices/virtual/input/input* orient_mode             0664 system input
/sys/devices/virtual/input/input* orient_blocking         0664 system input
/sys/devices/virtual/input/input* orient_hyst             0664 system input
/sys/devices/virtual/input/input* orient_theta            0664 system input
/sys/devices/virtual/input/input* phys                    0664 system input
/sys/devices/virtual/input/input* place                   0664 system input
/sys/devices/virtual/input/input* properties              0664 system input
/sys/devices/virtual/input/input* flat_theta              0664 system input
/sys/devices/virtual/input/input* flat_theta              0664 system input
/sys/devices/virtual/input/input* flat_hold_time          0664 system input
/sys/devices/virtual/input/input* selftest                0664 system input
/sys/devices/virtual/input/input* softreset               0664 system input
/sys/devices/virtual/input/input* en_sig_motion           0664 system input
/sys/devices/virtual/input/input* tap_time_period         0664 system input
/sys/devices/virtual/input/input* en_double_tap           0664 system input
/sys/devices/virtual/input/input* temperature             0664 system input
/sys/devices/virtual/input/input* uevent           		  0664 system input
/sys/devices/virtual/input/input* value           		  0664 system input
/sys/devices/virtual/input/input* value_cache             0664 system input
/sys/devices/virtual/input/input* en_high_g               0664 system input
/sys/devices/virtual/input/input* en_low_g                0664 system input
/sys/devices/virtual/input/input* en_orientation          0664 system input

/sys/devices/virtual/input/input* rept_z                  0664 system input
/sys/devices/virtual/input/input* test                    0664 system input
/sys/devices/virtual/input/input* rept_xy                 0664 system input
/sys/devices/virtual/input/input* odr                     0664 system input

#double tap fusion
/sys/devices/virtual/dtap_sensor/g_sensor en_double_tap             0664 system input
/sys/devices/virtual/dtap_sensor/g_sensor tap_duration              0664 system input
/sys/devices/virtual/dtap_sensor/g_sensor tap_threshold             0664 system input
/sys/devices/virtual/dtap_sensor/g_sensor tap_quiet                 0664 system input
/sys/devices/virtual/dtap_sensor/g_sensor tap_shock                 0664 system input
/sys/devices/virtual/dtap_sensor/g_sensor tap_samp                  0664 system input

#light and proximity sensor I2C3 stage
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-001c ahthres         0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-001c als_adc         0664 system system    
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-001c als_lux         0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-001c als_poll_time   0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-001c als_status      0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-001c althres         0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-001c em              0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-001c ir_data         0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-001c lscalibration   0664 system system  
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-001c lsensor         0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-001c mode            0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-001c object          0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-001c phthres         0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-001c plthres         0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-001c ps_poll_time    0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-001c pscalibration   0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-001c psensor         0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-001c pxvalue         0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-001c range           0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-001c update_cali     0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-001c ps_status       0664 system system


#cap sensor
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-0028 cap_status      				0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-0028 obj_detect      				0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-0028 pad_cap_status       		0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-0028 sensing_cycle      			0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-0028 sensor_gain                 	0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-0028 sensor_app2mdm_sar          	0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-0028 sensor_input_2_delta_count  	0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-0028 sensor_input_2_th      	   	0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-0028 sensor_input_6_delta_count   0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-0028 sensor_input_6_th      		0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-0028 sensor_input_noise_th      	0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-0028 sensor_input_status      	0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-0028 sensor_main      			0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-0028 sensor_onoff      			0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-0028 sensor_recal      			0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-3/3-0028 sensor_wood_enable      		0664 system system


#light and proximity sensor I2C4 stage
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-001c ahthres         0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-001c als_adc         0664 system system    
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-001c als_lux         0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-001c als_poll_time   0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-001c als_status      0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-001c althres         0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-001c em              0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-001c ir_data         0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-001c lscalibration   0664 system system  
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-001c lsensor         0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-001c mode            0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-001c object          0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-001c phthres         0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-001c plthres         0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-001c ps_poll_time    0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-001c pscalibration   0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-001c psensor         0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-001c pxvalue         0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-001c range           0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-001c update_cali     0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-001c ps_status       0664 system system


#cap sensor
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-0028 cap_status      				0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-0028 obj_detect      				0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-0028 pad_cap_status       		0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-0028 sensing_cycle      			0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-0028 sensor_gain                 	0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-0028 sensor_app2mdm_sar          	0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-0028 sensor_input_2_delta_count  	0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-0028 sensor_input_2_th      	   	0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-0028 sensor_input_6_delta_count   0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-0028 sensor_input_6_th      		0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-0028 sensor_input_noise_th      	0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-0028 sensor_input_status      	0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-0028 sensor_main      			0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-0028 sensor_onoff      			0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-0028 sensor_recal      			0664 system system
/sys/devices/soc0/e0000000.noc/ef010000.l2_noc/e1000000.ahb_per/*/i2c-4/4-0028 sensor_wood_enable      		0664 system system

#ril_prosimity
/sys/devices/virtual/switch/ril_proximity state    0664 system system

#calibration data
/factory                                                0664 system system
/factory/accel_cal_data.ini 	                		0664 system system
/factory/LightSensor.ini    	                		0664 system system
/factory/proximitysensor/PS_Config_Xtalk.ini   	        0664 system system
/factory/proximitysensor/PS_Config_Threshold_High.ini   0664 system system
/factory/proximitysensor/PS_Config_Threshold_Low.ini    0664 system system

